@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <AuthorizeView>
            <Authorized>
                <article class="content px-4">
                    <p>
                        LOGGED IN LAYOUT
                    </p>
                    @Body
                </article>
            </Authorized>
            <NotAuthorized>
                <article class="content px-4">
                    <p>
                        LOGGED OUT LAYOUT
                    </p>
                    @Body
                </article>
            </NotAuthorized>
        </AuthorizeView>
    </main>
</div>
